

.containerMain {
  width: 100%;
  display: grid;
  justify-content: stretch;
  align-content: center;
}

.filter{
  display: flex;
  justify-content: center;
  gap:2rem;
  margin-top:3rem;
}
.footer{
  padding-bottom: 0.1rem;
}

@media (max-width:650px){
  .filter{
     display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
  } 
  .filter form{
    padding-right: 5.5rem;
  }
}